In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [3]:
import os

enrolment_path = "../data/enrolment/"
enrolment_files = os.listdir(enrolment_path)

enrolment_dfs = []

for file in enrolment_files:
    df = pd.read_csv(enrolment_path + file)
    enrolment_dfs.append(df)

enrolment_df = pd.concat(enrolment_dfs, ignore_index=True)

In [4]:
enrolment_df.iloc[500000]

date              31-12-2025
state              Karnataka
district               Bidar
pincode               585330
age_0_5                    2
age_5_17                   3
age_18_greater             0
Name: 500000, dtype: object

In [5]:
enrolment_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [6]:
enrolment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [7]:
enrolment_df.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [8]:
enrolment_df.value_counts()

date        state        district        pincode  age_0_5  age_5_17  age_18_greater
15-11-2025  Gujarat      Arvalli         383320   2        0         0                 2
14-11-2025  Gujarat      Amreli          365665   1        0         0                 2
                         Anand           387210   3        0         0                 2
15-12-2025  Maharashtra  Satara          415518   3        0         0                 2
11-11-2025  Karnataka    Davangere       577224   3        0         0                 2
                                                                                      ..
31-12-2025  West Bengal  West Midnapore  721101   2        1         0                 1
                                         721102   4        2         0                 1
                                         721133   0        3         0                 1
                                         721135   0        1         0                 1
                                         721136   1        0         0                 1
Name: count, Length: 983072, dtype: int64

In [23]:
enrolment_df['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', 'Daman & Diu',
       'West Bangal', 'Westbengal', 'West bengal', 'andhra pradesh',
       'ODISHA', 'WESTBENGAL'], dtype=object)

In [22]:
enrolment_df = enrolment_df[
    enrolment_df['state'].astype(str) != '100000'
]

In [27]:
enrolment_df['state'].value_counts()

state
Uttar Pradesh                                   110369
Tamil Nadu                                       92552
Maharashtra                                      77191
West Bengal                                      76519
Karnataka                                        70198
Andhra Pradesh                                   65658
Bihar                                            60567
Rajasthan                                        56159
Madhya Pradesh                                   50225
Gujarat                                          46624
Odisha                                           43691
Telangana                                        42774
Kerala                                           39145
Assam                                            31827
Jharkhand                                        23218
Punjab                                           20439
Chhattisgarh                                     18550
Haryana                                          15997
Jammu and Kashmir                                11314
Himachal Pradesh                                 10346
Uttarakhand                                      10007
Delhi                                             6804
Meghalaya                                         3771
Tripura                                           3729
Orissa                                            3319
Manipur                                           3218
Nagaland                                          1999
Arunachal Pradesh                                 1601
Goa                                               1527
Mizoram                                           1481
Puducherry                                        1042
Sikkim                                            1010
Chandigarh                                         859
Pondicherry                                        817
Ladakh                                             304
Andaman and Nicobar Islands                        289
Dadra and Nagar Haveli                             162
Lakshadweep                                        159
Jammu & Kashmir                                    139
Dadra and Nagar Haveli and Daman and Diu           116
Andaman & Nicobar Islands                          103
Daman and Diu                                       92
Dadra & Nagar Haveli                                24
Daman & Diu                                         20
West  Bengal                                        15
West Bangal                                          9
West bengal                                          7
Westbengal                                           6
andhra pradesh                                       5
WEST BENGAL                                          4
Jammu And Kashmir                                    2
The Dadra And Nagar Haveli And Daman And Diu         2
ODISHA                                               1
WESTBENGAL                                           1
Name: count, dtype: int64

In [28]:
enrolment_df.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [29]:
enrolment_df['date'] = pd.to_datetime(
    enrolment_df['date'],
    dayfirst=True,
    errors='coerce'
)

In [30]:
enrolment_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

In [31]:
enrolment_df.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [32]:
enrolment_df['date'].head(10)

0   2025-03-02
1   2025-03-09
2   2025-03-09
3   2025-03-09
4   2025-03-09
5   2025-03-09
6   2025-03-09
7   2025-03-09
8   2025-03-09
9   2025-03-09
Name: date, dtype: datetime64[ns]

In [33]:
age_cols = ['age_0_5', 'age_5_17', 'age_18_greater']
enrolment_df[age_cols] = enrolment_df[age_cols].fillna(0)

In [34]:
enrolment_df = enrolment_df.dropna(subset=['date', 'state', 'district'])

In [35]:
enrolment_df['year'] = enrolment_df['date'].dt.year
enrolment_df['month'] = enrolment_df['date'].dt.month

enrolment_df['total_enrolment'] = (
    enrolment_df['age_0_5'] +
    enrolment_df['age_5_17'] +
    enrolment_df['age_18_greater']
)

In [36]:
enrolment_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,year,month,total_enrolment
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,2025,3,109
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,2025,3,86
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,2025,3,123
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,2025,3,106
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,2025,3,51

In [37]:
enrolment_df.describe()

,date,pincode,age_0_5,age_5_17,age_18_greater,year,month,total_enrolment
count,1006007,1.006007e+06,1.006007e+06,1.006007e+06,1.006007e+06,1006007.0,1.006007e+06,1.006007e+06
mean,2025-10-23 18:26:17.154035712,5.186506e+05,3.525786e+00,1.710110e+00,1.671320e-01,2025.0,1.022442e+01,5.403028e+00
min,2025-03-02 00:00:00,1.100010e+05,0.000000e+00,0.000000e+00,0.000000e+00,2025.0,3.000000e+00,1.000000e+00
25%,2025-09-19 00:00:00,3.636410e+05,1.000000e+00,0.000000e+00,0.000000e+00,2025.0,9.000000e+00,1.000000e+00
50%,2025-10-27 00:00:00,5.174170e+05,2.000000e+00,0.000000e+00,0.000000e+00,2025.0,1.000000e+01,2.000000e+00
75%,2025-11-15 00:00:00,7.001040e+05,3.000000e+00,1.000000e+00,0.000000e+00,2025.0,1.100000e+01,5.000000e+00
max,2025-12-31 00:00:00,8.554560e+05,2.688000e+03,1.812000e+03,8.550000e+02,2025.0,1.200000e+01,3.965000e+03
std,NaN,2.056289e+05,1.753870e+01,1.436978e+01,3.216535e+00,0.0,1.136074e+00,3.158271e+01

In [38]:
(enrolment_df[age_cols] < 0).sum()

age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [39]:
biometric_path = "../data/biometric/"
biometric_files = os.listdir(biometric_path)

biometric_dfs = []

for file in biometric_files:
    df = pd.read_csv(biometric_path + file)
    biometric_dfs.append(df)

biometric_df = pd.concat(biometric_dfs, ignore_index=True)

In [40]:
biometric_df = biometric_df[
    biometric_df['state'].astype(str) != '100000'
]

In [41]:
biometric_df['state'].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh', 'Tamilnadu'], dtype=object)

In [42]:
biometric_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [43]:
biometric_df['date'] = pd.to_datetime(
    biometric_df['date'],
    dayfirst=True,
    errors='coerce'
)

In [44]:
bio_cols = ['bio_age_5_17', 'bio_age_17_']
biometric_df[bio_cols] = biometric_df[bio_cols].fillna(0)

biometric_df = biometric_df.dropna(subset=['date', 'state', 'district'])

biometric_df['year'] = biometric_df['date'].dt.year
biometric_df['month'] = biometric_df['date'].dt.month

biometric_df['total_biometric_updates'] = (
    biometric_df['bio_age_5_17'] +
    biometric_df['bio_age_17_']
)

In [45]:
biometric_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,year,month,total_biometric_updates
0,2025-03-01,Haryana,Mahendragarh,123029,280,577,2025,3,857
1,2025-03-01,Bihar,Madhepura,852121,144,369,2025,3,513
2,2025-03-01,Jammu and Kashmir,Punch,185101,643,1091,2025,3,1734
3,2025-03-01,Bihar,Bhojpur,802158,256,980,2025,3,1236
4,2025-03-01,Tamil Nadu,Madurai,625514,271,815,2025,3,1086

In [46]:
demo_path = "../data/demographic/"
demo_files = os.listdir(demo_path)

demo_dfs = []

for file in demo_files:
    df = pd.read_csv(demo_path + file)
    demo_dfs.append(df)

demo_df = pd.concat(demo_dfs, ignore_index=True)

In [47]:
demo_df = demo_df[
    demo_df['state'].astype(str) != '100000'
]

In [48]:
demo_df['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli', 'Uttaranchal',
       'BALANAGAR', 'Jaipur', 'Madanapalle', 'Nagpur',
       'Raja Annamalai Puram'], dtype=object)

In [49]:
demo_df['date'] = pd.to_datetime(
    demo_df['date'],
    dayfirst=True,
    errors='coerce'
)

In [50]:
demo_df.head()

        date           state    district  pincode  demo_age_5_17  demo_age_17_
0 2025-03-01   Uttar Pradesh   Gorakhpur   273213             49           529
1 2025-03-01  Andhra Pradesh    Chittoor   517132             22           375
2 2025-03-01         Gujarat      Rajkot   360006             65           765
3 2025-03-01  Andhra Pradesh  Srikakulam   532484             24           314
4 2025-03-01       Rajasthan     Udaipur   313801             45           785

In [51]:
demo_cols = ['demo_age_5_17', 'demo_age_17_']
demo_df[demo_cols] = demo_df[demo_cols].fillna(0)

demo_df = demo_df.dropna(subset=['date', 'state', 'district'])

demo_df['year'] = demo_df['date'].dt.year
demo_df['month'] = demo_df['date'].dt.month

demo_df['total_demo_updates'] = (
    demo_df['demo_age_5_17'] +
    demo_df['demo_age_17_']
)

In [53]:
enrolment_df.to_csv("../cleaned_csv/enrolment_clean.csv", index=False)
biometric_df.to_csv("../cleaned_csv/biometric_clean.csv", index=False)
demo_df.to_csv("../cleaned_csv/demographic_clean.csv", index=False)